.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #000000c9;
  color: white;
  padding: 20px;
  position: absolute;
  width: 100%;
}
.content {
  background-image: url("./../public/glassesImage/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  padding: 1rem;
  background: rgb(230, 213, 213);
}
.img {
  width: 184px;
}
.glass {
  position: absolute;
  left: 263px;
  top: 38.5%;
  opacity: 0.9;
  width: 20%;
}
.title {
  position: absolute;
  bottom: 9.5%;
  width: 480px;
  background: #d9cb325e;
}
.model {
  padding-top: 10rem;
}
